.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

  .container-emoji{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width:40rem;
    outline: solid 1px blue;
    margin: auto;
}

.cover{
    display:flex;
    justify-content: center;
    margin: 25px 30px
    
}

.hidden{
    display:none;
}

.emoticon,.emoticon-cover{
    font-size: 4rem;
    
}

.emoticon-cover{
    position: absolute;
    background: orange;
    

}  

 
 