.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

  .container-emoji{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width:40rem;
    outline: solid 1px blue;
    margin: auto;
}

.cover{
    display:flex;
    justify-content: center;
    margin: 25px 30px
    
}

.hidden{
    display:none;
}

.emoticon,.emoticon-cover{
    font-size: 4rem;
    
}

.emoticon-cover{
    position: absolute;
    background: orange;
    

}  
.container-score, .center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-startGame{
    margin:  2rem auto;
    border: solid 1px white;
    border-radius: 10px;
    width: 8rem;
    height: 3rem;
    background:lightblue;
    font-size: 18px;
    font-weight: 545;
}

.juega{
    font-size: 2rem;
}

 
 